doctype html
html
  head
    title= title
    script(type='text/javascript', src='/javascripts/jquery-3.1.0.min.js').
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    // Theme CSS
    link(href='stylesheets/freelancer.css', rel='stylesheet')
    // Custom Fonts
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

  body
    block content
