<html>
<head>
  <% include ./head %>
</head>


<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <% include ./nav-header%>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/logout">Logout</a></li>
      </ul>
      </div><!--/.nav-collapse -->

    </div>
  </nav>


</body>
<div class = "jumbotron">

  <center>
    <h1>Welcome to Our Home</h1>
  </center>
</div>
</html>
