<!DOCTYPE HTML>
<head>
</head>
<body>
  <p>You successfully logout</p>
<form action="/authentication" method="POST">
  Username <input type="text" name="username">
  Password <input type="text" name="password">
  <input type = "submit">
</form>
<%- include footer.ejs %>
</body>
</html>
