<!DOCTYPE HTML>
<head>
  <%- include bootstrap.ejs %>
</head>
<body>
  <p>You are a user</p>
  <p>Your name: <%= name %></p>
  <p>Your role: <%= role %></p>
<form action="/logout" method="POST">
  <input class="btn btn-warning" type = "submit" value="logout">
</form>
<%- include footer.ejs %>
</body>
</html>
