<html>
<head>
  <% include ./head %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <% include ./nav-header%>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>

          <% switch(role) { %>
          <%  case 'superadmin': %>
                <li><a href="#">Add User</a></li>
          <%        break; %>
          <%    case 'user': %>
                <li><a href="#">User Area</a></li>
          <%        break; %>
          <%    default: %>
              <li><a href="/logout">logout</a></li>
          <% } %>


        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>


</body>


</html>


// <li class="active"><a href="/">Home</a></li>
